/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Press Start 2P', cursive;
}

.grid {
  display: grid;
  grid-template-columns: 320px 200px;
  justify-content: center;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  color: black; /*#e6c6ed;*/
}

.game-board {
  border: solid 2px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .play-button {
    background-color: #76d593;
  }

  .reset-button {
    background-color:  #f55a9e;
  }

  .pause-button {
    background-color: #fadfc2;

    &.button-disabled {
      background-color: #fdfdfd;
    }
  }

  .button {
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
    width: 140px; 
    border: 1px solid black;
  }
}
